CSS

/* Body style */
body {
font-family: "Roboto", san-serif;
text-align: center;
background-colour: darkgreen;
}

/* Heading style*/
h1 {
colour: darkgray;
}

/*Paragraph style*/
p {
colour: white;
font-size: 18px;
}

/* Button style */
button {
background-colour: green;
colour: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-colour: darkgreen;
}

