CSS

/* Body style */
body {
font-family: "Roboto", san-serif;
text-align: center;
color: darkgreen;
}

/* Heading style*/
h1 {
color: darkgray;
  font-size: 43px;
}

/*Paragraph style*/
p {
font-color: orange;
font-size: 18px;
}

/* Button style */
button {
background-color: green;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: darkgreen;
}

.box  {
background-color: blue;
font-size: 12px;
font-family: "Roboto", sans-serif;
padding 20px
border: 5px, white, solid;
text-align: center;
}

